@import url('https://fonts.googleapis.com/css2?family=Lato&family=Tangerine:wght@400;700&family=Uchen&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Uchen', serif, 'Lato', sans-serif;
  background-color: #12130f;
}
button {
  cursor: pointer;
}
header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  text-align: center;
}
nav {
  font-size: 18px;
  color: white;
}
.logo {
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  font-weight: 700;
  font-size: 30px;
  font-family: 'Tangerine', cursive;
}
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 20px;
  margin-right: 20px;
}
li {
  border-right: solid #73956f;
  padding-right: 3px;
  transition: 0.4s;
}
/*I would like an animation here that draws the bottom line in from the right
also need to fix the jumping from the line appearing. */
li:hover {
  border-bottom: solid 1px #73956f;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  width: 40vw;
  margin-top: 5vh;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 50px !important;
  margin-bottom: 1rem;
}
.hero-image {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('assets/hero.jpg');
}
.hero-btn {
  margin-top: 15px;
  padding: 8px 16px;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
  background-color: #0e4324;
  color: white;
  transition: 0.2s;
}
.hero-btn:hover {
  opacity: 90%;
  outline: solid #8f8073;
  background-color: #12552e;
}
.text {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  width: 40vw;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 2rem;
}
.fine-print {
  display: flex;
  font-size: x-small;
  margin-top: 40px;
  color: white;
  justify-content: center;
  margin-bottom: 20px;
}
footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  gap: 5px;
  color: white;
}
a {
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
  color: #73956f;
}
a:visited {
  color: #8f8073;
}
